/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
header {
  width: 100%;
  background: #3E2F5B;
}
header .header-text {
  padding: 65px 10%;
}
header .header-text h1 {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  color: #f8f8ff;
  font-size: 6rem;
  font-weight: 600;
  margin-bottom: 20px;
}
header .header-text p {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  color: #f8f8ff;
  font-size: 1.8rem;
}
header .header-text button {
  cursor: pointer;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  color: #f8f8ff;
  background: #3E2F5B;
  border: 1px solid #f8f8ff;
  border-radius: 5px;
  margin: 20px 0 0;
  padding: 10px;
}
header .header-text button:hover {
  color: #3E2F5B;
  background: #f8f8ff;
}
header .header-img {
  width: 100%;
  overflow: hidden;
  height: 600px;
}
header .header-img img {
  position: relative;
  left: -250px;
  height: 600px;
}
