// Fonts
@source-sans: 'Source Sans Pro', Helvetica, sans-serif;
@raleway: 'Raleway', Helvetica, sans-serif;

// Palette
@purple: #3E2F5B;
@white: #f8f8ff;
@gray: lightgray;
@black: black;

// Media Queries

@tablet: ~'(min-width: 480px)';
@desktop: ~'(min-width: 768px)';