.carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

    .left-btn, .right-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        color: @purple;
        background-color: @salmon;
        opacity: .5;
        font-size: 4rem;
        border-radius: 50%;
        position: absolute;
        width: 50px;
        height: 50px;
        cursor: pointer;
        &:hover {
            color: @salmon;
            background-color: @purple;
        }
    }

    .left-btn {
        top: 50%;
        left: 15px;
        transform: translate(0, -50%);
    }

    .right-btn {
        top: 50%;
        right: 15px;
        transform: translate(0, -50%);
    }

    .carousel-img {
        width: 100%;
        display: none;
    }

    .active {
        display: block;
    }
}